<%- include('partials/header') -%>

<main class="main-content">
  <div class="post-and-comments-container">
    <!-- Post Section -->
    <div class="post-section unique-post">
      <div class="comment-post">
        <div class="post-image">
          <img src="<%= posts.image %>" alt="Post Image">
          <div class="post-buttons">
            <button class="like-button">Like</button>
            <button class="delete-button">Delete</button>
          </div>
        </div>
        <div class="post-details">
          <h2 class="post-title"><%= posts.title %></h2>
          <p class="post-description"><%= posts.caption %></p>
        </div>
      </div>
    </div>
  
    <!-- Comments Section -->
    <div class="comments-section">
      <h2 class="section-title">Comments</h2>
      <div class="comments-wrapper">
        <div class="comments-box">
          <!-- Recuadro para comentarios -->
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <div class="comment">
            <p>Otro comentario de ejemplo</p>
          </div>
          <!-- Aquí van los comentarios -->
        </div>
      </div>
      <div class="comment-form-wrapper">
        <h2 class="section-title">Add a Comment</h2>        
        <form action="/post/<%= posts.id %>" method="POST" class="comment-form">
          <label for="description">Añade un comentario...</label>
          <textarea id="description" name="caption" rows="4" required></textarea>
          <button type="submit">➔</button>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
