<%- include('partials/header') -%>

<main>
  <div class="profile-container">
    <!-- Contenedor de la parte superior -->
    <div class="upper-container">
      <!-- Publicación -->
      <div class="profile-box"> <!-- Mantén el estilo de perfil en la izquierda -->
        <div class="posts"> <!-- Ajusta el estilo del post para que vaya a la izquierda -->       
          <h2 class="post-title"><%= posts.title %></h2>
          <img src="<%= posts.image %>" alt="Post Image">
          <div class="post-buttons">
            <div class="like">
              <form action="/posts/likePost/<%= posts.id %>?_method=PUT&currentPage=<%= currentPage %>" method="POST">
                <input value="<%=posts.id%>" type="hidden" name="currentUrl">
                <button class="fa-solid fa-heart" type="submit"></button>
              </form>
             <div><%= posts.likes %></div>
            </div>
            <div class="delete">
              <%if(posts.user == user.id){ %>
              <form action="/posts/deletePost/<%= posts.id %>?_method=DELETE" method="POST">
                <button class="fa fa-trash" type="submit"></button>
              </form>
              <%}%>
            </div>
          </div>
          <div class="post-details">
            <p class="post-description"><%= posts.caption %></p>
          </div>
        </div>
      </div>

      <!-- Comentarios y formulario -->
      <div class="add-post-form-container"> <!-- Ajusta el estilo del contenedor de comentarios para que vaya a la derecha -->
        <div class="add-post-form posts">
          <h2>Comentarios</h2>
          <div class="comments-box">
            <!-- Recuadro para comentarios -->
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <div class="comment">
              <p>Otro comentario de ejemplo</p>
            </div>
            <!-- Aquí van más comentarios -->
          </div>
          <div class="add-post-form">
            <h2 class="section-title">Add a Comment</h2>
            <form action="/comments/createComment/<%= posts.id %>" method="POST">
              <div class="form-group">
                <textarea id="description" name="comment" rows="4" required></textarea>
              </div>
              <button type="submit" class="btn" value="Upload">Publicar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
