<%- include('partials/header') -%>

<main>
  <div class="profile-container">
    <!-- Perfil del usuario -->
    <div class="upper-container">
      <div class="profile-box">
        <div class="profile-header">
          <div class="profile-avatar">
            <img src="" alt="Foto de perfil">
          </div>
          <div class="profile-name">
            <%= user.userName %>
          </div>
        </div>
        <div class="profile-details">
          <div class="profile-info">
            <h2>Perfil</h2>
            <div class="profile-description">
              Descripción del perfil...
            </div>
            <div class="profile-games">
              <h3>Juegos Favoritos</h3>
              <ul>
                <li>Juego 1</li>
                <li>Juego 2</li>
                <li>Juego 3</li>
                <!-- Agrega más juegos según sea necesario -->
              </ul>
            </div>
          </div>
          <div class="profile-quotes">
            <h2>Citas Favoritas</h2>
            <ul>
              <li>Esta es la primera cita.</li>
              <li>Esta es la segunda cita.</li>
              <li>Esta es la tercera cita.</li>
              <!-- Agrega más citas según sea necesario -->
            </ul>
          </div>
        </div>
      </div>

      <!-- Formulario para añadir un post -->
      <div class="add-post-form-container">
        <div class="add-post-form">
          <h2>Añadir Publicación</h2>
          <form action="/posts/crearPost" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea id="description" name="caption" rows="4" required></textarea>
            </div>
            <div class="form-group">
              <label for="image">Imagen</label>
              <input type="file" id="image" name="file" accept="image/*" required>
            </div>
            <button type="submit" class="btn" value="Upload">Publicar</button>
          </form>
        </div>
      </div>
    </div>
    <h2 class="press-start-text profile">Mis publicaciones</h2>
    <div class="bottom-container">
      <div class="user-posts">
        <div class="all-post">
          <% for(var i=0; i<posts.length; i++) {%>
            <div class="post">  
              <a href="/posts/<%= posts[i]._id%>">
                <img src="<%= posts[i].image%>" alt="Imagen de la publicación">
              </a>
              <div class="like">
                <form action="/posts/likePost/<%= posts[i]._id %>?_method=PUT&currentPage=<%= currentPage %>" method="POST">
                  <input value="<%=posts.id%>" type="hidden" name="currentUrl">
                  <button class="fa-solid fa-heart" type="submit"></button>
                </form>
               <div><%= posts[i].likes %></div>
              </div>
              <h3 class="title"><a href="/posts/<%= posts[i]._id%>"><%= posts[i].title %></a></h3>
              <p class="user">@<%= posts[i].userName%></p>
              <p class="post-description"><%= posts[i].caption%></p>
            </div>    
          <% } %>
        </div>  
      </div>
    </div>  
  </div> <!-- Cierre de la etiqueta profile-container -->
</main>

<%- include('partials/footer') -%>
